:root {
    --height-footer: 16vh;
    --height-nav: 10vh;
    --height-total: 26vh;
    /*      --height-main: 74vh; */
    --height-main: calc(100vh - var(--height-total));
    --font-family: Arial, Helvetica, sans-serif;
    --font-size: 17px;
    /* valor base para roporciones rem */
    --fondo-header-footer: rgba(23, 23, 23, 0.837);
    --color-parrafo: rgba(42, 42, 42, 0.932);
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    box-sizing: border-box;
}

p {
    font-size: var(--font-size);
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
    line-height: 3.2rem;
}

h3 {
    font-size: 1.3rem;
}

/* .pleft{
    padding-left: 2rem;
}
.centrar{
    text-align: center;
    margin: 1rem 0;
} */


a {
    text-decoration: none;
}

/* tractament del header */
header {
    height: var(--height-nav);
    position: sticky;
    z-index: 1;
    top: 0px;
    /*    box-sizing: inherit; */
    /*    left:0px;   */
}

/* h3.logo {
    color: white;
    background-color: black;
    margin: auto 3rem;
} */

h3.logo>a>img {
    height: 50px;
}

nav {
    /*  width: 100vw; */
    /* height: var(--height-nav);  */
    background-color: black;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /*    overflow: hidden; */
}

nav ul {
    list-style-type: none;
    /* height: var(--height-nav); */
    /* text-align: center; */
    display: flex;
    flex-flow: row wrap;
}

nav li a {
    color: aliceblue;
    padding: 24px 20px;
    display: block;

}

nav li a:hover {
    text-decoration: overline;
    background-color: aliceblue;
    color: black;
    transition: all 0.5s ease;

}

.active {
    text-decoration: overline;
    color: rgb(182, 250, 250);
    pointer-events: none;
}

section div figure {
    margin-bottom: 2rem;
}

section>div {
    clear: both;
}

div>picture {
    margin-bottom: 2rem;
    /*     display:block; */

}

figure>img {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
    object-position: top left;
}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

.card h3 {
    line-height: 1.7;
}

.card h3,
.card p {
    padding-left: 1rem;
    padding-right: 0.5rem;
    opacity: 0.1;
    transition: all 0.5s ease;
}

.card p {
    text-align: left;
}

.card:hover h3,
.card:hover p {
    opacity: 1;

}


#item1 {
    background-image: url("https://picsum.photos/300?random=1");
    filter: grayscale(0.5);
}

#item2 {
    background-image: url("https://picsum.photos/300?random=2");
    filter: grayscale(0.4);
}

#item1:hover,
#item2:hover,
#item3:hover,
#item4:hover {
    background: coral;
}

#item3 {
    background-image: url("https://picsum.photos/300?random=3");
    filter: grayscale(0.7);
}

#item4 {
    background-image: url("https://picsum.photos/300?random=4");
    filter: grayscale(0.4);
}

/* Collapsable */

label.showmenu {
    font-size: 2rem;
  
    font-weight: 900;
    display: none;
    border: 1px solid white;
    color: white;
}

header input[type="checkbox"] {
    display: none;
}

/*-------*/

main {
    max-width: 1360px;
    min-height: var(--height-main);
    margin: auto;
    text-align: center;
    padding-top: 5vh;

}

video {
    width: 350px;
    margin: 1rem;
}

main section {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}


main a {
    font-size: 1.1rem;
    font-weight: 900;
    margin: 10px;
    padding: 8px 12px;
    color: aliceblue;
    background-color: darkcyan;
}

main .video button {
    font-size: 1.1rem;
    font-weight: 900;
    margin: 8px;
    padding: 6px 15px;
    color: aliceblue;
    border-radius: 0px;
    background-color: rgb(29, 38, 38);
}

main .video button:hover {
    background-color: rgb(137, 138, 139);
    color: rgb(29, 38, 38);
}

main button:hover,
main a:hover {
    background-color: rgb(25, 26, 26);
    color: aliceblue;
    cursor: pointer;
}

.imgmargen {
    margin: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}


#fondo1 {

    background-image: url("https://picsum.photos/300/300?random=1");
    filter: brightness(0.60);
}

#fondo1:hover,
#fondo2:hover,
#fondo3:hover,
#fondo4:hover,
#fondo5:hover,
#fondo6:hover,
#fondo7:hover,
#fondo8:hover,
#fondo9:hover {
    background-image: url();
    background-color: crimson;
    filter: brightness(1);
}

#fondo2 {
    background-image: url("https://picsum.photos/300/300?random=2");
    filter: brightness(0.60);

}

#fondo3 {
    background-image: url("https://picsum.photos/300/300?random=3");
    filter: brightness(0.60);
}

#fondo4 {
    background-image: url("https://picsum.photos/300/300?random=4");
    filter: brightness(0.60);
}

#fondo5 {
    background-image: url("https://picsum.photos/300/300?random=5");
    filter: brightness(0.60);
}

#fondo6 {
    background-image: url("https://picsum.photos/300/300?random=6");
    filter: brightness(0.60);
}

#fondo7 {
    background-image: url("https://picsum.photos/300/300?random=7");
    filter: brightness(0.60);
}

#fondo8 {
    background-image: url("https://picsum.photos/300/300?random=8");
    filter: brightness(0.60);
}

#fondo9 {
    background-image: url("https://picsum.photos/300/300?random=9");
    filter: brightness(0.60);
}


.blur:hover {
    filter: blur(4px);

}

.brightness:hover {
    filter: brightness(0.30);
}

.contrast:hover {
    filter: contrast(180%);
}

.grayscale:hover {
    filter: grayscale(100%);
}

.huerotate:hover {
    filter: hue-rotate(180deg);
}

.invert:hover {
    filter: invert(100%);
}

.opacity :hover {
    filter: opacity(20%);
}

.saturate:hover {
    filter: saturate(7);
}

.sepia:hover {
    filter: sepia(100%);
}

.shadow:hover {
    filter: drop-shadow(4px 4px 6px rgb(10, 10, 10));
}

video {
    display: block;
}

/* Formulario */

label {
    width: 250px;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 400px;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgb(156, 153, 153);
}

input[type="radio"],
input[type="checkbox"],
select,
textarea {
    font-size: 18px;
    margin: 10px;
    padding: 10px 10px;
    border: 1px solid rgb(156, 153, 153);
}

textarea {
    min-width: 200px;
    width: 70%;
    height: 250px;
}

input[type="submit"],
input[type="reset"] {
    font-size: 18px;
    font-weight: 900;
    margin: 10px;
    padding: 10px 25px;
    color: aliceblue;
    border-radius: 10px;
}

input[type="reset"] {
    background-color: crimson;
    float: right;
}

input[type="submit"] {
    background-color: darkcyan;
    float: right;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(25, 26, 26);
    color: aliceblue;
    cursor: pointer;
}

footer {
    min-height: var(--height-footer);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*    padding:1rem; */
    align-items: center;
    background-color: black;
    color: aliceblue;
    box-sizing: border-box;
}

footer div {
    margin: 0.5rem 0.5rem 0 0.5rem;
    text-align: center;
}

/* footer div.top{
        display: none;
}
 */
footer a {
    color: darkkhaki;
    transition: all 0.5s ease;
}

footer a:hover {
    color: rgb(182, 250, 250);
    text-decoration: overline;
}

footer a.top span {
    /*     visibility: hidden; */
    font-size: small;
    background-color: aliceblue;
    padding: 5px;
    opacity: 0;
    vertical-align: top;
    transition: all 0.5s ease;
}

footer a.top:hover,
footer a.top:hover span {
    color: rgb(9, 15, 15);
    text-decoration: none;
    opacity: 1;
}

footer a.top::before {
    padding: 3px 6px 5px 6px;
    vertical-align: super;
    font-size: 2rem;
    content: ' \25B2';
    border-radius: 50%;
    margin: auto 0px;
    background-color: rgb(195, 167, 167);
    color: rgb(25, 34, 30);
    text-decoration: none;
}

footer a:hover.top::before {
    background-color: rgb(182, 250, 250);
}

.gran {
    font-size: 3rem;
    border-radius: 70%;
    line-height: .5rem;
    padding: 0 4px;
    background-color: black;
    position: fixed;
    top: 80vh;
    right: 50px;
}

.gran {
    animation-duration: 2s;
    animation-name: fade;
    animation-iteration-count: 1;
}

@keyframes fade {
    from {
        opacity: 0;
        top: 80vh
    }

    to {
        opacity: 1;
        top: 80vh;
    }
}

/*  video frames nou amb etiquetes noves */
.youtube {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin: 5vh 2vw;
}

.youtube iframe,
.youtube object,
.youtube embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

section.video {
    margin-bottom: 4rem;
}

div.clear iframe {
    width: 100%;
    height: 40vh;
    border: none;
    padding: 0 2vw;
    margin: 2rem 0;
}

/* END  video frames nou amb etiquetes noves */


/*  Menú collapsado */
@media screen and (max-width:768px) {

    label.showmenu {
        /*   width: 9vw; */
        display: block;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px;
        margin: .7rem 0;
        padding: 0 .8rem;
        transition: all 1s ease;
    }

    header nav {
        flex-direction: column;
        flex-flow: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    nav ul {

        display: none;

    }

    header a {
        padding: 5px 10px;
    }

    nav li a:hover {
        text-decoration: overline;
        color: aliceblue;
        background-color: black;
        transition: all 0.5s ease;

    }


    input[type="checkbox"]:checked~ul {
        /*   display: block;  */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /*             flex-direction: column;  */
        /*    justify-content: flex-start; */
        /*        align-items:flex-start; */
        opacity: 1;
        /*     		margin-top: 0px;
            padding-top: 0;
    	 transition: all 0.5s ease;  */
    }

    nav input[type="checkbox"]:checked~h3.logo,
    nav input[type="checkbox"]:checked~label {

        align-self: flex-start;

        transition: all 0.5s ease;
    }
}

iframe {
    border: 0px;
    width: 99%;
    margin: auto;
    height: 35vh;
}

.iframes {
    display: flex;
}

div.iframes>div.centrar {
    width: 50%;
}
/*  video frames nou amb etiquetes noves */
  section.video {
      display: flex;
  }

  .youtube {
      height: auto;
      width: 50vw;
      padding-bottom: 26%;
  }

  div.clear iframe {
      width: 70%;
      height: 40vh;
      border: none;
      padding: 0 2vw;
      margin: 2rem 0;
  }
/*  END  video frames nou amb etiquetes noves */

@media screen and (max-width:1280px) {



    .iframes {
        flex-direction: column;
        align-items: center;
    }

    div.iframes>div.centrar {
        width: 80%;
    }
}

/* 
@media screen and (max-width:768px){
    div.clear{
        padding:2%;
    }
    .pleft{
        padding-left: 0rem;
    }
    fieldset{
        margin: .5rem;
    }
    div.iframes > div.centrar{
        width:100%;
    }

    /*  Menú collapsado */
/*label.showmenu {
		width: 10vw;
        display: flex;
		cursor: pointer;
		/* transition: all 1s ease; 
	}
header {
		justify-content: flex-start;
	}
    header ul {
		opacity: 0;
	    margin-top: -40px;
        margin-left: 1.8rem;
        padding:0px;
	}
header a{
        padding:10px;
    }

	input[type="checkbox"]:checked ~ ul {
		display: flex;
        flex-direction: column;
		opacity: 1;
		margin-top: 0px;
        padding-top: 0;
		/* transition: all 0.5s ease; 
	} 

 } */

fieldset {
    border: 2px solid chocolate;
    margin: 2rem;
}