@charset "utf-8";
<<<<<<< HEAD

*,
::before,
::after,
=======
*,
*::before,
*::after,
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
html {
	margin: 0;
	padding: 0;
}

html {
<<<<<<< HEAD
	font: 18px/1.4 Arial, sans-serif;
=======
	font: 18px Arial, sans-serif;
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
}

body {
	background-image: url(images/bg.png);
}

header {
	text-align: center;
<<<<<<< HEAD
	padding: 2rem;
=======
	padding: 25px;
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
}

main {
	display: flex;
<<<<<<< HEAD
=======
	/* flex-direction: row-reverse;
  flex-wrap: nowrap; */
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
	flex-flow: wrap;
	justify-content: center;
}

article a {
	display: flex;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 200px;
	height: 200px;
	background-image: url(images/bgButton.png);
	background-size: cover;
	font-size: 0.8rem;
<<<<<<< HEAD
=======

>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
	margin: 2rem;
}

article img {
	margin-bottom: 1rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
