<<<<<<< HEAD
@charset "utf-8";
*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #eef6ad;
  /* text-align: center; */
}
header {
  background-color: #202020;
  padding: 5vh 5vh 11vh 5vh;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  margin: 3vh 0;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
.viajes-item {
  display: flex;
  flex-direction: column;
  padding: 3vh 3vw;
  /* width: 100%; */
}
.uno {
  background-color: #c1d4e7;
}
main .viajes-item img {
  order: -1;
}
main .viajes-item img,
main .viajes-item button {
  align-self: center;
}
.dos {
  background-color: #bdeebb;
}
.tres {
  background-color: #79a9a8;
}
h2 {
  padding: 3vh 3vw;
}
button {
  margin: 3vh auto;
  padding: 1vh 1vw;
}
@media screen and (min-width: 768px) {
  main {
    flex-flow: row wrap;
  }
  .uno,
  .dos {
    flex: 1 1 34%;
  }
  .tres {
    flex: 2 1 34%;
    order: 1;
  }
}
@media screen and (min-width: 1024px) {
  main {
    flex-flow: row-reverse;
  }
  .tres {
    flex: 3 1 34%;
    order: 0;
  }
}
=======
@charset "utf-8";
*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #eef6ad;
  /* text-align: center; */
}
header {
  background-color: #202020;
  padding: 5vh 5vh 11vh 5vh;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  margin: 3vh 0;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
.viajes-item {
  display: flex;
  flex-direction: column;
  padding: 3vh 3vw;
  /* width: 100%; */
}
.uno {
  background-color: #c1d4e7;
}
main .viajes-item img {
  order: -1;
}
main .viajes-item img,
main .viajes-item button {
  align-self: center;
}
.dos {
  background-color: #bdeebb;
}
.tres {
  background-color: #79a9a8;
}
h2 {
  padding: 3vh 3vw;
}
button {
  margin: 3vh auto;
  padding: 1vh 1vw;
}
@media screen and (min-width: 768px) {
  main {
    flex-flow: row wrap;
  }
  .uno,
  .dos {
    flex: 1 1 34%;
  }
  .tres {
    flex: 2 1 34%;
    order: 1;
  }
}
@media screen and (min-width: 1024px) {
  main {
    flex-flow: row-reverse;
  }
  .tres {
    flex: 3 1 34%;
    order: 0;
  }
}
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
