<<<<<<< HEAD
@charset "utf-8";
*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #eef6ad;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 4vh;
  background: #202020;
  justify-content: center;
  /* flex: 0 0 15vw; */
}
h1 {
  font-size: 1.5rem;
  padding: 30px 0;
  text-align: center;
}
main {
  display: flex;
  flex-flow: row-reverse wrap;
  width: 100%;
}
h2 {
  margin: 10px 0;
  font-size: 1rem;
  order: 2;
}
p {
  font-size: 0.8rem;
  order: 3;
  margin: 20px 0 100px 0;
  flex: 1 0 auto;
}
.viajes-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  padding: 0.8em;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
button {
  margin: auto;
  width: 200px;
  order: 4;
}
.viajes-item img {
  order: 0;
  align-self: center;
}
.uno {
  background: #c2d4e7;
}
.dos {
  background: #beeebb;
}
.tres {
  background: #79a9a8;
}
@media screen and (max-width: 768px) {
  #viajes {
    flex-flow: row wrap;
  }
}
=======
@charset "utf-8";
*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #eef6ad;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 4vh;
  background: #202020;
  justify-content: center;
  /* flex: 0 0 15vw; */
}
h1 {
  font-size: 1.5rem;
  padding: 30px 0;
  text-align: center;
}
main {
  display: flex;
  flex-flow: row-reverse wrap;
  width: 100%;
}
h2 {
  margin: 10px 0;
  font-size: 1rem;
  order: 2;
}
p {
  font-size: 0.8rem;
  order: 3;
  margin: 20px 0 100px 0;
  flex: 1 0 auto;
}
.viajes-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  padding: 0.8em;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
button {
  margin: auto;
  width: 200px;
  order: 4;
}
.viajes-item img {
  order: 0;
  align-self: center;
}
.uno {
  background: #c2d4e7;
}
.dos {
  background: #beeebb;
}
.tres {
  background: #79a9a8;
}
@media screen and (max-width: 768px) {
  #viajes {
    flex-flow: row wrap;
  }
}
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
