<<<<<<< HEAD
*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-color: rgb(242, 250, 130);
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
h1{
  text-align: center;
  font-size: 1.9rem;
  background-color: rgb(175, 174, 174);
}
h2{
  font-size:1.5rem;
  text-align: right;
  padding: 1px 10px 1px 1px;
  background-color: #ccc;
  border-bottom: dashed 3px rgb(116, 114, 114);
}
main{
  max-width: 1000px;
  min-width: 280px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* text-align: center; */
}
section{
  width: 200px;
  height: fit-content;
  /* display: inline-block;
  vertical-align: top; */
  margin:15px 4px;
  padding: 5px;
  border-right: dashed 3px rgb(116, 114, 114);
  border-left: dashed 3px rgb(116, 114, 114);
}
h3{
  background-color: rgb(221, 216, 216);
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
}
article{
  border: 1px solid black;
  margin: 5px 0px;
  overflow: auto;
}
h4{
  background-color: rgb(185, 181, 181);
  font-size: 0.9rem;
  color: azure;
  text-align: right;
  padding:3px 5px 3px 0;
}
p{
  padding: 5px;
=======
*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-color: rgb(242, 250, 130);
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
h1{
  text-align: center;
  font-size: 1.9rem;
  background-color: rgb(175, 174, 174);
}
h2{
  font-size:1.5rem;
  text-align: right;
  padding: 1px 10px 1px 1px;
  background-color: #ccc;
  border-bottom: dashed 3px rgb(116, 114, 114);
}
main{
  max-width: 1000px;
  min-width: 280px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* text-align: center; */
}
section{
  width: 200px;
  height: fit-content;
  /* display: inline-block;
  vertical-align: top; */
  margin:15px 4px;
  padding: 5px;
  border-right: dashed 3px rgb(116, 114, 114);
  border-left: dashed 3px rgb(116, 114, 114);
}
h3{
  background-color: rgb(221, 216, 216);
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
}
article{
  border: 1px solid black;
  margin: 5px 0px;
  overflow: auto;
}
h4{
  background-color: rgb(185, 181, 181);
  font-size: 0.9rem;
  color: azure;
  text-align: right;
  padding:3px 5px 3px 0;
}
p{
  padding: 5px;
>>>>>>> d547dc873ec53c73994c4c44f2ae5e067105513b
}